<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
<style>
body {
  background-color:#3F256B;
  margin:0;
  color: white;
  font-family: Verdana;
}
</style>
  </head>
  <body>
    <h1>Page Not Found</h1>
    <img src="/placeholder.png" width=150px height=auto>
    <p>Sorry about that! I couldnt quite find the page you were looking for [Dcolon]</p>
    <p><a href="https://thatponyjules.neocities.org/Home">Click here to be taken to the home page!</a></p>
  </body>
</html>
